<h3>Cancelamento de Entrega</h3>
<strong>Olá, {{deliveryman}}</strong>
<p>Houve um <strong>CANCELAMENTO</strong> de entrega. Confira os detalhes abaixo:</p>
<br />
{{!-- Detalhes do produto --}}
<small>
  Detalhes do produto
</small>
<br />
<p>
  <strong>Entrega: </strong> {{product}} <br />
  <strong>Destinatário: </strong> {{recipient}} <br />
  <strong>Endereço: </strong> {{street}}, {{number}}, {{city}} - {{state}}, {{country}} <br />
  <strong>Complemento: </strong> {{complement}} <br />
  <strong>CEP: </strong> {{zipcode}} <br />
</p>
<br />
<p>
  <strong>Data/hora de cancelamento:</strong> {{date}} <br />
</p>
<br />
<p>
  <strong>Motivo:</strong> {{description}}
</p>
</p>
